[submodule "meta-swift"]
	path = meta-swift
	url = git@github.com:jeremy-prater/meta-swift.git
[submodule "poky"]
	path = poky
	url = https://github.com/MillerTechnologyPeru/poky.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
