[submodule "meta-swift"]
	path = meta-swift
	url = git@github.com:xavgru12/meta-swift.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky
